    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <div class="layout">
      <form class="form">
        <img src="../assets/logo.jpeg" alt="logo" class="logo">
        <h1>Login</h1>
        <label for="name"><i class="fa fa-user-circle-o" style="font-size:18px"></i></label>
        <input type="text" id="name" name="name" [(ngModel)]="user">
        <label for="email"><i class="fa fa-envelope" style="font-size:18px"></i></label>
        <input type="text" id="email" name="email" [(ngModel)]="em">
        <input type="submit">
        <app-display [usernamee]="user" [emailid]="em" ></app-display>
      </form>
    </div>
